/*
COLOUR PALETTE
#ff5a55 - coral
#f3f7f6 - light
#284044 - green dark
#7c9595 - mid green
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
  line-height: 30px;
  background-color: #EDFBFB;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


h1{
  text-align: center;
  font-size: 25px;
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: 2px;
  color: #132123;
  line-height: 40px;
}


h2{
  text-align: center;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  color: #284044;
}


h3{
  text-align: left;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  color: #284044;
}

p{
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #284044;
}


a {
  color: #284044;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #7c9595;
}

 /* highlight text colour
 ---------------------*/
::selection {
  background: #FDE8E9;
}
::-moz-selection {
  background: #FDE8E9;
}


/* Nav bar
---------------------*/

nav{
  display: flex;
  justify-content: space-around;
  min-height: 9vh;
  padding-top: 20px;
  position: relative;
  background-color: transparent;
}

li a {
  display: block;
  padding: 1px;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  color: #284044;
  animation: navLinkFade 1s ease-in-out;
}

.nav-links{
  display:flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;

}

.nav-links li{
  list-style: none;
  color: white;
  padding: 0 10px;

}

.nav-links a{
  text-decoration: none;
  letter-spacing: 2px;
}

.burger div{
width: 25px;
height: 3px;
border-radius: 10%;
background-color: #7C9595;
margin: 5px;
transition: all 0.5s ease;
}

.burger{
  display: none;
  cursor: pointer;
}

/* Nav bar strikes
---------------------*/

nav a, .strike a {
  position: relative;
  display: block;
  cursor: pointer;
  /* z-index: -1; */
}

nav a:before, nav a:after, .strike a:before, .strike a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

nav a:before, .strike a:before {
  left: -2.5px;
}
nav a:after, .strike a:after {
  right: 2.5px;
  background: #7c9595;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

nav a:hover:before, .strike a:hover:before {
  background: #7c9595;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

nav a:hover:after, .strike a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* Animated 'go back' button on pages without full nav bar
---------------------*/

.goback{
  text-align: left;
  color: #284044;
  position: absolute;
  transition: all 0.2s;
  color: white;
  width: 30px;
  z-index: 1;
  font-size: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  left: 48.5%;
}

.goback:before, .goback:before{
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  background-color: #284044;
  opacity: 70%;
  z-index: -1;
  transition: all 0.4s;
  transform-origin: top;
  mix-blend-mode: multiply;
  border-radius: 30px;
}

.goback:hover:before, .goback:hover:before{
  top: 0px;
  left: 0px;
  z-index:-2;
  mix-blend-mode: multiply;
}

.goback:after, .goback:after{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 100%;
  height: 100%;
  background-color: #7C9595;
  opacity: 90%;
  z-index: -1;
  transition: all 0.2s;
  transform-origin: bottom;
  mix-blend-mode: multiply;
  border-radius: 30px;

}

.goback:hover:after, .goback:hover:after{
  top: 0px;
  left: 0px;
  z-index:-1;
  mix-blend-mode: multiply;
}

.goback:hover, .goback:hover{
  color: #ff5a55;
}


/* index page styles */

.parallax {
  background-image: url(../images/mountain-background.jpg);
  height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.container-index {
padding: 0;
position: relative;
}

.column-index {
  flex: 25%;
  padding: 0 4px;
}

.column-index img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.row-index {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: center;
}

.index-intro{
  width: 75%;
  height: 500px;
  margin: 2vh auto;
}

.index-mobile{
  display: none;
}

.index-margin{
  margin-top: 120px;
}

.index-nav{
  opacity: 1;
}

.bounce{
  animation: bounce 12s infinite ease-in-out;
}


.bounce-2{
  animation: downbounce 14s infinite ease-in-out;
}

.scale{
  animation: scale 15s infinite ease-in-out;
  perspective-origin: center;
}

.scale-2{
  animation: scale2 18s infinite ease-in-out;
  perspective-origin: center;
}

.scale-3{
  animation: scale3 20s infinite ease-in-out;
  perspective-origin: center;
}

@keyframes bounce {
  0% {transform: translateY(20px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(20px);}
}

@keyframes downbounce {
  0% {transform: translateY(0px);}
  50% {transform: translateY(30px);}
  100% {transform: translateY(0px);}
}

@keyframes scale {
  0% {transform: translateY(0px) translateX(-30px);}
  50% {transform: translateY(30px) translateX(10px);}
  100% {transform: translateY(0px) translateX(-30px);}
}

@keyframes scale2 {
  0% {transform: translateY(20px);}
  50% {transform: translateY(0px) translateX(30px);}
  100% {transform: translateY(20px);}
}

@keyframes scale3 {
  0% {transform: translateY(-10px);}
  45%, 55% {transform: translateY(20px) translateX(20px);}
  100% {transform: translateY(-10px);}
}
/* background menu banners */
.banner {
 background-size: 100%;
 position: absolute;
 width: 100vw;
 height: 500px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 z-index: -1;
 background-color: #BDDCD5;
}

.home{
  background-size: 100%;
  position: absolute;
  width: 100vw;
  height: 800px;
  z-index: -1;
}
/* Columns
---------------------*/

.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-multi, .column-icon, .column-ig, .column-portfolio{
float: left;
align-items: center;
padding: 5px;
}
.column-1 {
 width: 100%;
 padding: 10px 0 40px;
}
.column-2 {
 width: 50%;
}
.column-3 {
 width: 33.3%;
}
.column-4 {
 width: 25%;
}
.column-5 {
 width: 20%;
}
.column-6 {
 width: 16.666%;
}
.column-multi {
 width: 20%;
 padding: 0px;
}
.column-icon {
 width: 20%;
 padding: 20px;
}
.column-ig {
 width: 50%;
}
.column-portfolio {
 width: 33%;
 padding: 0px 10px;
}
.row::after {
content: "";
clear: both;
display: table;
}

.container img{
  padding-bottom: 10px;
}

.container p{
  text-align: center;
}

.padding{
  padding: 0 100px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.mobile-desc{
  display: none;
}

.column-1 span{
    padding: 5px 10px;
    background: #fff;}

/* Portfolio
---------------------*/

.dots {
  width: 5px;
  height: 20px;
  border-radius: 50%;
  background-color: #7c9595;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.portfolio{
  background-image: url(../images/ux/banner-3.jpg);
}

.portfolio-display{
  margin-top: 370px;
}

.portfolio-display span{
    padding: 5px 10px;
    background: #fff;
}

.container h2 span{
    padding: 5px 10px;
    background: #fff;
}

.portfolio-tags{
  text-align: center;
}

/* descriptions of portfolio images
---------------------*/
.portfolio-tags p{
  display: inline-block;
  padding: 2px 12px;
  background-color: #7c9595;
  color: #fff;
  border-radius: 30px;
}

.headers{
  padding-top: 40px;
}

/* Description page of each portfolio project
---------------------*/
.info-titles{
    margin: 10vh 50vw 10vh 3vw;
}

.info-titles h1{
  text-align: left;
  margin: 20px 0;
  font-weight: 600;
  font-size: 35px;
  color: #7C9595;
}

/* Remove padding from title
---------------------*/
.info-titles .about-row{
  padding: 0;
}

/* Title styles
---------------------*/
.info-titles .about-column{
  padding: 0 60px 0 80px;
}

.about-column{
  width: 50%;
}

.info-titles p, .info-titles h2{
  margin: 0;
}

.info-titles .left{
  border-bottom: none;
  border-top: none;
}

/* Portfolio pages cover images
---------------------*/

/* Fashion
---------------------*/

.fashion{
  background-image: url(../images/editorial/background3.jpg);
}

.levi{
  height: 100px;
}

.mobile-view{
  display: none;
}
/* Creative
---------------------*/
.icons{
  margin: 150px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
}

.index-icons{
  margin: 100px 20%;
}

.about-icons{
  margin: 90px 20%;
}
/* Blog
---------------------*/
.blogcover{
  background-image: url(../images/blog/background.jpg);
}

/* About
---------------------*/
.aboutcover{
  background-image: url(../images/about/background2.jpg);
}

/* Fashion slideshow
---------------------*/
  .fashionSlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #cae5df;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.menu-dots{
  text-align: center;
  padding-bottom: 30px;
}

.active {
  background-color: #7c9595;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.7s;
  animation-name: fade;
  animation-duration: 1.7s;
}

      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

/* Fashion - graduate catwalk
---------------------*/

.graduate-bio{
  margin: 0 100px;
}

/* Fashion - editorial
---------------------*/

.editorial{
  background-image: url(../images/editorial/background-2.jpg);
}

/* Sketches
---------------------*/

.sketches{
  background-image: url(../images/sketch/sketch-2.jpg);
}

/* Osier
---------------------*/

.osier{
  background-image: url(../images/osier/sketch-4.jpg);
}

/* Blog
---------------------*/
.blog{
  background-image: url(../images/test.jpg);
}
/* Blog title hover effect
---------------------*/
.blog-title{
  text-decoration: none;
  background-color: transparent;
  position: relative;
  transition: all 0.2s;
  color: white;
  padding: 10px;
  width: 20vw;
  z-index: 1;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
}

.blog-title:before, .about-title:before{
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #284044;
  opacity: 70%;
  z-index: -1;
  transition: all 0.4s;
  transform-origin: top;
  mix-blend-mode: multiply;
  border-radius: 3px;
}

.blog-title:hover:before, .about-title:hover:before{
  top: 0px;
  left: 0px;
  z-index:-2;
  mix-blend-mode: multiply;
}

.blog-title:after, .about-title:after{
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #7C9595;
  opacity: 90%;
  z-index: -1;
  transition: all 0.2s;
  transform-origin: bottom;
  mix-blend-mode: multiply;
  border-radius: 3px;

}

.blog-title:hover:after, .about-title:hover:after{
  top: 0px;
  left: 0px;
  z-index:-1;
  mix-blend-mode: multiply;
}

.blog-title:hover, .about-title:hover{
  color: #ff5a55;
}

.blog-container {
padding: 0px 60px 40px;
text-align: center;
}

.blog-container h2 span{
  padding: 5px 10px;
  background: #fff;
}

.blog-column {
  max-width: 100%;
  text-align: center;
}

.blog-row {
  display: inline-flex;
  padding: 80px 20px;
  justify-content: center;
  border: solid 2.5px white;
  margin: 20px;
}

.blog-post{
  margin: 50px 100px;
}

.blog-post li{
  text-decoration: none;
  list-style: square;
  color: #7c9595;
  font-size: 12px;
}

/* About page
---------------------*/
.about{
  text-align: center;
  margin: 220px 0 50px;
  color: #7c9595;
}

.aboutcoverspace{
  margin-top: 180px;
}

.aboutcoverspace span{
    padding: 5px 10px;
    background: #fcfcfc;
}


.profile{
  width: 250px;
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;

}

/* special about page header
---------------------*/
.about h3, .about a{
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
}

.about h1{
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 300;
  color: #f3f7f6;
}

.about p{
  text-align: center;
  font-family: futura-pt-condensed, sans-serif;
  font-style: normal;
  color: #132123;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.about-me {
  max-width: 100%;
  width: 100%;
  padding: 60px 100px 20px 50px;
  display: inline-block;
}

.about-me h2{
  text-align: left;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

.about-me img{
  float:left;
  margin: 20px 40px 40px;
  width: 200px;
}

.connect-social{
  text-align: center;
}

.about-row h2 {
  text-align: left;
}

.about-row {
  padding: 5vh 10vw;
}
.about-container{
  margin-left: 5vw;
}

.about-row .column-3{
  padding: 0 20px;
}

.about-row:after {
  content: "";
  display: table;
  clear: both;
}

.about-links-row {
    display: inline-flex;
    padding: 10px 10px;
    justify-content: center;
  }

.about-title {
  text-decoration: none;
  background-color: transparent;
  position: relative;
  transition: all 0.2s;
  color: white;
  padding: 10px;
  z-index: 1;
  width: 10vw;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
}


/* Contact
---------------------*/
footer{
  padding: 20px 0;
  text-align: center;
  background-color: #BDDCD5;
}

  /* social media
  --------------------*/
.sm-logo {
    width: 50px;
    padding: 10px 10px 20px 10px;
}

  /* SVG animation
  ---------------------*/
.logo{
  padding: 100px 0 20px 0;
  clear:both;
}

.logo img{
  width:60px;
  display:flex;
  margin-left: auto;
  margin-right: auto;
}
.wrap{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin:4em auto;
  overflow: hidden;
}

.sun{
  animation: sun 12s ease-in infinite, rise 12s ease-in-out infinite;
}

.sun stroke{
  opacity: 0;
}

  @keyframes sun {
    0% {fill: #c21c02;}
    30% {fill: #fcba03;}
    50% {fill: #fcba03;}
    90%,100% {fill: #c21c02;}
  }

  @keyframes rise {
    0% {transform: translateY(150px);}
    45%, 55% {transform: translateY(-40px);}
    100% {transform: translateY(150px);}
  }

.shadow{
  animation: shadow 12s ease-in infinite;
}

  @keyframes shadow {
    0% {fill: #284044;}
    45%, 55% {fill: #DAE3E5;}
    80% {fill: #ca9ad4;}
    85% {fill:#9370ac;}
    100% {fill: #284044;}
  }

/* scroll down animation
---------------------*/

.scroll-down {
  margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 50px;
	z-index: 5;
	text-decoration: none;
  width: 25px;
  height: 25px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  z-index: 3;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-15px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-15px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-15px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


/* mobile settings */

@media only screen and (max-width: 900px){
  .column-ig{
    width: 100%;
    padding:0;
  }

  .index-intro{
    height: auto;
    width: 85%;
  }

  .index-margin{
    margin-top: 0px;
  }

  .icons{
    width: 90vw;
    margin: 150px auto 0;
  }

  .about-icons{
    margin: 90px 15%;
  }

  .portfolio-display{
    margin: 370px 10px 0
  }
}

@media only screen and (max-width: 650px){

    body{
      overflow-x: hidden;
    }

    .nav-links{
      position: absolute;
      right:0;
      height: 55vh;
      top: 8vh;
      background-color: #BDDCD5;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      padding-bottom: 20px;
      z-index: 2;

    }

    .mobile-title{
      display: flex;
    }

    .nav-links li{
      opacity: 0;
    }

    .burger{
      display: block;
    }

    nav{
      height: 5vh;
    }

    .parallax {
      display: none;
    }

    .home{
      display: block;
    }

    .scroll{
      display: none;
    }

    .headers{
      padding: 0;
    }

    .welcome-logo {
      background-image: url(../images/test.jpg);
      height: 300px;
    }
    .column-2, .column-3, .column-4, .column-5, .column-6, .column-multi{
      width: 100%;
      padding:0;
    }
    .column-4 .container, .column-3 .container, .column-2 .container, .column-5 .container, .column-6 .container, .column-multi .container {
      padding:0;
    }

    .padding{
      padding: 0 30px;
    }

    .text {
      font-size: 15px;
      display: block;
    }

    .mobile-desc{
      display: block;
      text-align: center;
      font-size: 10px;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 500;
      color: #284044;
    }

    .blog-row {
      min-width: 100%;
      margin: auto;
      padding: 30px 10px;
      border: none;
    }

    .blog-title{
      width: 60vw;
    }

    .bounce, .bouce-2, .scale, .scale-2, .scale-3{
      animation: none;
    }

    .banner{
      height: 370px;
      width: 100%;
    }

    .index-icons{
      margin: 100px 10%;
    }

    .index-intro{
      display: none;
    }

    .index-mobile{
      display: block;
      margin: 50px 20px;
    }

    .icons{
      width: 90vw;
      margin: 120px auto 0;
    }

    .about-icons{
      margin: 90px 10%;
    }

    .portfolio-display{
      margin: 270px 10px 0;
    }

    .desktop{
      display: none;
    }

    .mobile-view{
      display: block;
    }
}

@media screen and (max-width: 550px) {
.column-portfolio{
  padding: 0;
}

.column-portfolio .container{
  padding: 0;
}

.connect{
  background-image: url(../images/ux/mobile-connect.png);
  width: 100px;
  margin: auto;
  height: 300px;
  top: 10px;
}

.about-column{
  margin: 20px 0;
  width: 100%
}

.about-column-skills {
  float: left;
  width: 100%;
}

.about-column h2{
  text-align: center;
}

.right h2, .left h2, .middle h2{
  text-align: left;
}
.about-links-row {
  display: block;
  margin: 20px 0;
}

.about-title{
  width: 100%;
}

.about-me img{
  margin: 0;
  height: 120vw;
  width: auto;
  padding-bottom: 50px;
}

.about-row {
  padding: 0 10vw;
}

.about br{
  display:none;
}

.about{
  margin: 270px 0 0;
}

.aboutcoverspace{
  margin-top: 80px;
}

.logo{
  margin: 0px;
  padding: 20px 0;
}

.info-titles .about-column{
  padding: 0 20px 0 20px;
}

.info-titles .left{
  border-bottom: 1px solid #7C9595;
  border-top: 1px solid #7C9595;
}

.goback{
  text-align: left;
}

.graduate-bio{
  Margin: 20px 50px;
}

.aaroe{
  display: none;
}

.blog-post{
  margin: 30px 20px 30px 18px;
}

.container-index {
display: none;
padding: 0;
}

.column-index {
  flex: 100%;
  max-width: 100%;
}

}


@media screen and (max-width: 400px) {
    .banner{
      height: 250px;
      width: 100%;
    }


    .index-intro{
      display: none;
    }

    .index-mobile{
      display: block;
      margin: 50px 20px 0;
    }

    .icons{
      width: 90vw;
      margin: 90px auto 0;
    }

    .about-icons{
      margin: 90px auto 0;
    }

    .about{
      margin: 155px 0 0;
    }

    .portfolio-display{
      margin: 150px 10px 0;
    }
}


.nav-active{
  transform:translateX(0%);
}


@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}


@media screen and (max-width: 900px) {

  .about-title{
    width: 100%;
  }

}




/* .wrapper{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  justify-items:stretch;
  align-items:stretch;
  margin: 0 75px;
  grid-gap:1em;
  grid-auto-rows:minmax(100px, auto);
} */

.wrapper{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr 1em 1fr;
  grid-template-columns:1fr 1fr 1fr 1fr;
  justify-items:stretch;
  -webkit-box-align:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
  margin: 0 75px;
  grid-gap:1em;
  grid-auto-rows:minmax(100px, auto);
}

.wrapper2{
  margin: 15px 75px 5px 75px;
}

.dots2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #cae5df;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

p span{
  background-color: white;
  border-radius: 3px;
}
.wrapper > div{
  /* background:#eee; */
  padding:1em;
}

.wrapper > div:nth-child(odd){
  /* background:#ddd; */
}

.box1{
  -ms-grid-row-align:start;
      align-self:start;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/3;
  -ms-grid-row:1;
  -ms-grid-row-span:1;
  grid-row:1/2;
}

.box2{
  -ms-grid-column:2;
  -ms-grid-column-span:1;
  grid-column:3/5;
  -ms-grid-row:1;
  -ms-grid-row-span:1;
  grid-row:1/2;
}

.box3{
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:3/4;
  -ms-grid-row:2;
  -ms-grid-row-span:2;
  grid-row:2/4;
}

.box4{
  -ms-grid-column:2;
  -ms-grid-column-span:1;
  grid-column:4/5;
  -ms-grid-row:2;
  -ms-grid-row-span:2;
  grid-row:2/4;
}

.box5{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/3;
  -ms-grid-row:1;
  -ms-grid-row-span:2;
  grid-row:1/3;
}

.box6{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:3/5;
  -ms-grid-row:1;
  -ms-grid-row-span:2;
  grid-row:1/3;
}

.box11{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/3;
  -ms-grid-row:1;
  -ms-grid-row-span:3;
  grid-row:1/4;
}

.box12{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:3/5;
  -ms-grid-row:1;
  -ms-grid-row-span:3;
  grid-row:1/4;
}

.box13{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/5;
  -ms-grid-row:4;
  -ms-grid-row-span:1;
  grid-row:4/5;
}

.box14{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/5;
  -ms-grid-row:1;
  -ms-grid-row-span:3;
  grid-row:1/4;
}

.box15{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/5;
  -ms-grid-row:4;
  -ms-grid-row-span:4;
  grid-row:4/8;
}

.box16{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/3;
  -ms-grid-row:8;
  -ms-grid-row-span:3;
  grid-row:8/11;
}

.box17{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:3/5;
  -ms-grid-row:8;
  -ms-grid-row-span:3;
  grid-row:8/11;
}

.box18{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/5;
  -ms-grid-row:11;
  -ms-grid-row-span:3;
  grid-row:11/14;
}

.box19{
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/5;
  -ms-grid-row:14;
  -ms-grid-row-span:3;
  grid-row:14/17;
}

.box20{
  -ms-grid-column:1;
  -ms-grid-column-span:4;
  grid-column:1/5;
  -ms-grid-row:17;
  -ms-grid-row-span:3;
  grid-row:17/20;
}

.box21{
  -ms-grid-column:1;
  -ms-grid-column-span:4;
  grid-column:1/5;
  -ms-grid-row:20;
  -ms-grid-row-span:3;
  grid-row:20/23;
}

/* .box1{
  align-self:start;
  grid-column:1/3;
  grid-row:1/2;
}

.box2{
  grid-column:3/5;
  grid-row:1/2;
}

.box3{
  grid-column:3/4;
  grid-row:2/4;
}

.box4{
  grid-column:4/5;
  grid-row:2/4;
}

.box5{
  grid-column:1/3;
  grid-row:1/3;
}

.box6{
  grid-column:3/5;
  grid-row:1/3;
}

.box7{
  grid-column:1/2;
  grid-row:1/2;
}

.box8{
  grid-column:2/3;
  grid-row:1/2;
}

.box9{
  grid-column:3/4;
  grid-row:1/2;
}

.box10{
  grid-column:4/5;
  grid-row:1/2;
}

.box11{
  grid-column:1/3;
  grid-row:1/4;
}

.box12{
  grid-column:3/5;
  grid-row:1/4;
}

.box13{
  grid-column:1/5;
  grid-row:4/5;
}

.box14{
  grid-column:1/5;
  grid-row:1/4;
}

.box15{
  grid-column:1/5;
  grid-row:4/8;
}

.box16{
  grid-column:1/3;
  grid-row:8/11;
}

.box17{
  grid-column:3/5;
  grid-row:8/11;
}

.box18{
  grid-column:1/5;
  grid-row:11/14;
}

.box19{
  grid-column:1/5;
  grid-row:14/17;
}

.box20{
  grid-column:1/5;
  grid-row:17/20;
}

.box21{
  grid-column:1/5;
  grid-row:20/23;
} */


@media screen and (max-width: 750px) {


  .wrapper{
    grid-template-columns:1fr 1fr;
    margin: 0 20px;
  }

  .wrapper2{
    margin: 15px 20px 5px 20px;
  }

  .box1{
    grid-column:1;
    grid-row:1/2;
  }

  .box2{
    grid-column:2;
    grid-row:1/2;
  }

  .box3{
    grid-column:1;
    grid-row:2/3;
  }

  .box4{
    grid-column:2;
    grid-row:2/3;
  }

  .box11{
    grid-column:1/3;
    grid-row:1/4;
  }

  .box12{
    grid-column:1/3;
    grid-row:4/6;
  }

  .box13{
    grid-column:1/3;
    grid-row:6/7;
  }

  .box14{
    grid-column:1/3;
    grid-row:1/2;
  }

  .box15{
    grid-column:1/3;
    grid-row:2/4;
  }

  .box16{
    grid-column:1/3;
    grid-row:4/6;
  }

  .box17{
    grid-column:1/3;
    grid-row:6/8;
  }

  .box18{
    grid-column:1/3;
    grid-row:8/10;
  }

  .box19{
    grid-column:1/3;
    grid-row:10/12;
  }

  .box20{
    grid-column:1/3;
    grid-row:12/14;
  }

  .box21{
    grid-column:1/3;
    grid-row:14/16;
  }

  .box5{
    grid-column:1/3;
    grid-row:1/2;
  }

  .box6{
    grid-column:1/3;
    grid-row:2/4;
  }

  .goback{
    left: 46%;
  }

}


@media only screen and (min-width: 1250px){

.overflow{
  overflow-x: hidden;
  padding: 0 50px;
}
h1{
  font-size: 25px;
}
h2{
  font-size: 15px;
}
h3{
  font-size: 12px;
}
p{
  font-size: 12px;
}
.index-intro{
  width: 75%;
  margin: 20vh auto;
}
}

@media only screen and (min-width: 2000px){
  .overflow{
    overflow-x: hidden;
    padding: 0 200px;
  }

  h1{
    font-size: 35px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
  }
  p{
    font-size: 16px;
  }
  .index-intro{
    width: 70%;
    margin: 25vh auto;
  }

  .scroll-down{
    display: none;
  }
}
