/*
COLOUR PALETTE
#ff5a55 - coral
#f3f7f6 - light
#284044 - green dark
#7c9595 - mid green
#cdf54c - lime green
#5b4fff - highlight purple
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
  font-family: futura-pt, acier-bat-noir, sans-serif;
  font-style: normal;
  line-height: 30px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #7c9595;
  }

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #7c9595;
  background-image: url("../images/black-felt.png");
}

*, *:before, *:after {
  box-sizing: inherit;
}


h1{
  text-align: center;
  font-size: 30px;
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: 2px;
  color: #132123;
  line-height: 40px;
}


h2{
  text-align: center;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  color: #284044;
}

h2 span{
  background-color: #cdf54c;
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: 0px 0px 17px 1px #eaffa8;
  line-height: 35px;
}

h3{
  text-align: left;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  color: #284044;
}

p{
  text-align: left;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #284044;
}


a {
  color: #def5ff;
  text-decoration: none;
  cursor: pointer;
}

.nav-item a:hover, .social-icon a:hover {
  color: #cdf54c;
  transform: scale(1.1);
}

.svg a:hover {
  color: #cdf54c;
  transform: scale(1);
}

 /* highlight text colour
 ---------------------*/
::selection {
  background: #5240db;
}
::-moz-selection {
  background: #5240db;
}


/* Nav bar
---------------------*/

nav{
  display: flex;
  justify-content: space-around;
  min-height: 9vh;
  padding-top: 20px;
  position: relative;
}
.nav-tab {
border-bottom: 2px solid #cdf54c;
background-color: rgba(92, 112, 65, 0.8);
background-image: url("../images/darker-blue.png");
}

.nav-tab .nav-item.show .nav-link, .nav-tab .nav-link.active {
    color: #cdf54c;
    border-color: #cdf54c;
}

li a {
  display: block;
  padding: 1px;
  font-family: acier-bat-noir, monospace;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  color: #d0eaf5;
  animation: navLinkFade 1s ease-in-out;
}

.nav-links{
  display:flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.nav-links li{
  list-style: none;
  color: white;
  padding: 0 10px;
}

.nav-links a{
  text-decoration: none;
  letter-spacing: 2px;
}

.row>*{
  padding: 0;
}

.row-padding{
  padding: 0 150px;
}

/* index page animations */

.bounce{
  animation: bounce 12s infinite ease-in-out;
}

.bounce-2{
  animation: downbounce 14s infinite ease-in-out;
}

.scale{
  animation: scale 15s infinite ease-in-out;
  perspective-origin: center;
}

.scale-2{
  animation: scale2 18s infinite ease-in-out;
  perspective-origin: center;
}

.scale-3{
  animation: scale3 20s infinite ease-in-out;
  perspective-origin: center;
}

@keyframes bounce {
  0% {transform: translateY(20px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(20px);}
}

@keyframes downbounce {
  0% {transform: translateY(0px);}
  50% {transform: translateY(30px);}
  100% {transform: translateY(0px);}
}

@keyframes scale {
  0% {transform: translateY(0px) translateX(-30px);}
  50% {transform: translateY(30px) translateX(10px);}
  100% {transform: translateY(0px) translateX(-30px);}
}

@keyframes scale2 {
  0% {transform: translateY(20px);}
  50% {transform: translateY(0px) translateX(30px);}
  100% {transform: translateY(20px);}
}

@keyframes scale3 {
  0% {transform: translateY(-10px);}
  45%, 55% {transform: translateY(20px) translateX(20px);}
  100% {transform: translateY(-10px);}
}
/* background menu banners */
.banner {
 background-size: 100%;
 position: absolute;
 width: 100vw;
 height: 500px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 z-index: -1;
 background-color: #BDDCD5;
}

/* Columns
---------------------*/

.column-1, .column-2, .column-3, .column-3-5, .column-4, .column-5, .column-6, .column-multi, .column-icon, .column-ig, .column-portfolio{
float: left;
align-items: center;
padding: 5px 10px;
}
.column-1 {
 width: 100%;
 padding: 10px 0 40px;
}
.column-2 {
 width: 50%;
}
.column-3 {
 width: 33.3%;
}
.column-3-5 {
 width: 30%;
}
.column-4 {
 width: 25%;
}
.column-5 {
 width: 20%;
}
.column-6 {
 width: 16.666%;
}
.column-multi {
 width: 20%;
 padding: 0px;
}
.column-icon {
 width: 20%;
 padding: 20px;
}
.column-ig {
 width: 50%;
}
.column-portfolio {
 width: 33%;
 padding: 0px 10px;
}

.padding{
  padding: 0 100px;
}

.mobile-desc{
  display: none;
}

/* Portfolio
---------------------*/

.dots {
  width: 5px;
  height: 20px;
  border-radius: 50%;
  background-color: #7c9595;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.portfolio{
  background-image: url(../images/ux/banner-3.jpg);
}

.portfolio-display{
  margin-top: 370px;
}

.portfolio-display span{
    padding: 5px 10px;
    background: #fff;
}

.portfolio-tags{
  text-align: center;
}

.portfolio-tags p{
  display: inline-block;
  padding: 2px 12px;
  background-color: #7c9595;
  color: #fff;
  border-radius: 30px;
}

.headers{
  padding-top: 40px;
}

/* Portfolio pages cover images
---------------------*/

/* Fashion
---------------------*/

.fashion{
  background-image: url(../images/editorial/background3.jpg);
}

.levi{
  height: 100px;
}

/* Creative
---------------------*/
.icons{
  margin: 10vh auto 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
}
/* Blog
---------------------*/
.blogcover{
  background-image: url(../images/blog/background.jpg);
}

/* About
---------------------*/
.aboutcover{
  background-image: url(../images/about/background2.jpg);
}

/* Fashion slideshow
---------------------*/
/*fade animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.7s;
  animation-name: fade;
  animation-duration: 1.7s;
}

      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

/* Fashion - graduate catwalk
---------------------*/

.graduate-bio{
  margin: 0 100px;
}

/* Fashion - editorial
---------------------*/

.editorial{
  background-image: url(../images/editorial/background-2.jpg);
}

/* Sketches
---------------------*/

.sketches{
  background-image: url(../images/sketch/sketch-2.jpg);
}

/* Osier
---------------------*/

.osier{
  background-image: url(../images/osier/sketch-4.jpg);
}

/* Blog
---------------------*/
.blog{
  background-image: url(../images/test.jpg);
}
/* Blog title hover effect
---------------------*/
.blog-title{
  text-decoration: none;
  background-color: transparent;
  position: relative;
  transition: all 0.2s;
  color: white;
  padding: 10px;
  width: 20vw;
  z-index: 1;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.blog-title:before, .about-title:before{
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #284044;
  opacity: 70%;
  z-index: -1;
  transition: all 0.4s;
  transform-origin: top;
  mix-blend-mode: multiply;
  border-radius: 3px;
  text-align: center;
}

.blog-title:hover:before, .about-title:hover:before{
  top: 0px;
  left: 0px;
  z-index:-2;
  mix-blend-mode: multiply;
}

.blog-title:after, .about-title:after{
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #7C9595;
  opacity: 90%;
  z-index: -1;
  transition: all 0.2s;
  transform-origin: bottom;
  mix-blend-mode: multiply;
  border-radius: 3px;

}

.blog-title:hover:after, .about-title:hover:after{
  top: 0px;
  left: 0px;
  z-index:-1;
  mix-blend-mode: multiply;
}

.blog-title:hover, .about-title:hover{
  color: #cdf54c;
}

.blog-container {
padding: 0px 60px 40px;
text-align: center;
}

.blog-container h2 span{
  padding: 5px 10px;
  background: #fff;
  line-height: 35px;
}

.blog-post{
  margin: 50px 100px;
}

.blog-post li{
  text-decoration: none;
  list-style: square;
  color: #7c9595;
  font-size: 12px;
}

/* About page
---------------------*/
.blog-column{
  display: inline-block;
}
/* special about page header
---------------------*/

.about-title {
  text-decoration: none;
  background-color: transparent;
  position: relative;
  transition: all 0.2s;
  color: white;
  padding: 10px;
  z-index: 1;
  width: 145px;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

/* Contact
---------------------*/
footer{
  padding: 20px 0;
  text-align: center;
  background-color: rgba(92, 112, 65, 0.8);
  background-image: url("../images/darker-blue.png");
}

  /* SVG animation
  ---------------------*/
.logo{
  padding: 0;
  clear:both;
}

.wrap{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin:4em auto;
  overflow: hidden;
}

.sun{
  animation: sun 12s ease-in infinite, rise 12s ease-in-out infinite;
}

.sun stroke{
  opacity: 0;
}

  @keyframes sun {
    0% {fill: #c21c02;}
    30% {fill: #fcba03;}
    50% {fill: #fcba03;}
    90%,100% {fill: #c21c02;}
  }

  @keyframes rise {
    0% {transform: translateY(150px);}
    45%, 55% {transform: translateY(-40px);}
    100% {transform: translateY(150px);}
  }

.shadow{
  animation: shadow 12s ease-in infinite;
}

  @keyframes shadow {
    0% {fill: #284044;}
    45%, 55% {fill: #DAE3E5;}
    80% {fill: #ca9ad4;}
    85% {fill:#9370ac;}
    100% {fill: #284044;}
  }

/* mobile settings */
.mobile{
display: none;
}

@media only screen and (min-width: 2000px){

  h1{
    font-size: 35px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
  }
  p{
    font-size: 16px;
  }
}


@media only screen and (max-width: 1200px){
  .row-padding{
    padding: 0 50px;
  }
}

@media only screen and (max-width: 900px){

  h1{
    font-size: 20px;
  }
  h2{
    font-size: 13px;
  }
  h3{
    font-size: 12px;
  }
  p{
    font-size: 12px;
  }
  .icons{
    width: 80vw;
  }
  .row-padding{
    padding: 0 30px;
  }
  .about-title{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .column-2, .column-3, .column-3-5, .column-4, .column-5, .column-6, .column-multi{
    width: 100%;
  }

  .desktop{
    display: none;
  }
}

@media screen and (max-width: 750px) {

  .wrapper{
    grid-template-columns:1fr 1fr;
    margin: 0 20px;
  }

  .wrapper2{
    margin: 15px 20px 5px 20px;
  }
}

@media only screen and (max-width: 650px){

    body{
      overflow-x: hidden;
    }
    .mobile-title{
      display: flex;
    }

    .headers{
      padding: 0;
    }

    .padding{
      padding: 0 30px;
    }

    .text {
      font-size: 15px;
      display: block;
    }

    .mobile-desc{
      display: block;
      text-align: center;
      font-size: 10px;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 500;
      color: #284044;
    }

    .blog-row {
      min-width: 100%;
      margin: auto;
      padding: 30px 10px;
      border: none;
    }

    .blog-title{
      width: 60vw;
    }

    .bounce, .bouce-2, .scale, .scale-2, .scale-3{
      animation: none;
    }

    .index-mobile{
      display: block;
      margin: 50px 20px;
    }


    .portfolio-display{
      margin: 270px 10px 0;
    }


    .mobile-view{
      display: block;
    }
}

@media screen and (max-width: 550px) {
.column-portfolio{
  padding: 0;
}

.connect{
  background-image: url(../images/ux/mobile-connect.png);
  width: 100px;
  margin: auto;
  height: 300px;
  top: 10px;
}

.about-column{
  margin: 20px 0;
  width: 100%
}

.about-column-skills {
  float: left;
  width: 100%;
}

.about-column h2{
  text-align: center;
}

.right h2, .left h2, .middle h2{
  text-align: left;
}
.about-links-row {
  display: block;
  margin: 20px 0;
}

.about-title{
  width: 100%;
}

.logo{
  margin: 0px;
}

.info-titles .about-column{
  padding: 0 20px 0 20px;
}

.info-titles .left{
  border-bottom: 1px solid #7C9595;
  border-top: 1px solid #7C9595;
}


.graduate-bio{
  Margin: 20px 50px;
}

.aaroe{
  display: none;
}

.blog-post{
  margin: 30px 20px 30px 18px;
}

.column-index {
  flex: 100%;
  max-width: 100%;
}

}


@media screen and (max-width: 400px) {
    .banner{
      height: 250px;
      width: 100%;
    }
    .portfolio-display{
      margin: 150px 10px 0;
    }
}
