/*
COLOR PALETTE
#FF7477 - coral
#DAE3E5 - light blue
#283044 - blue dark
#9Fc2CC - mid blue
#9FC2CC - quail egg
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  background-color: #DAE3E5;
  }

*, *:before, *:after {
  box-sizing: inherit;
}


h1{
  text-align: center;
  font-size: 25px;
  font-style: bold;
  margin: 0 45px 5px;
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: 2px;
  font-weight: 500;
}

h2{
  text-align: center;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}


h3{
  text-align: left;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
}

p{
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
}

a {
  color: #FF7477;
  text-decoration: none;
}

body{
  margin: 0;
}

ul{
  margin: 0;
  list-style-type: none;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
}
ol{
  margin: 0 20px;
  text-align: left;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
}

.top-bar ul{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 20px;
    border-bottom: solid 1px;
    color: white;
    z-index: 2;
    background-color: rgba(218, 227, 229, 0.85);
}
.clear-bar ul{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 20px;
    border-bottom: solid 1px;
    color: white;
    z-index: 2;
}

.info-nav ul{
  margin: 0;
  list-style-type: none;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
}

img{
  overflow-x: hidden;
}

.info-pages{
  margin: 0 50px;
}

/* Nav bar
---------------------*/

li a {
  display: block;
  padding: 1px;
  font-size: 15px;
}

.logo{
  margin: 100px 0 20px 0;
  clear:both;
}

.logo img{
  width:60px;
  display:flex;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 650px) {
  ul{
    flex-direction: column;
    text-align: center;
}

  li{
    padding: 0px;
    font-size: 20px;
  }
  ul{
    height: 300px;
    position: relative;
  }
  }

/* Background colour & images
---------------------*/

.welcome-logo {
  background-image: url(../images/mountain-sunset-3.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  padding: 0;
  height: 600px;
  background-repeat: no-repeat;
}
.column-1 {
 float: left;
 align-items: center;
 width: 100%;
 padding: 10px 0 40px;
}
 .column-2 {
  float: left;
  align-items: center;
  width: 50%;
  padding: 5px;
}
.column-3 {
 float: left;
 align-items: center;
 width: 33.3%;
 padding: 5px;
}
.column-4 {
 float: left;
 align-items: center;
 width: 25%;
 padding: 5px;
}
.column-5 {
 float: left;
 align-items: center;
 width: 20%;
 padding: 5px;
}
.column-6 {
 float: left;
 align-items: center;
 width: 16.666%;
 padding: 5px;
}
.column-2 {
 float: left;
 align-items: center;
 width: 50%;
 padding: 5px;
}
.column-multi {
 float: left;
 align-items: center;
 width: 20%;
 padding: 0px;
}
.column-icon {
 float: left;
 align-items: center;
 width: 20%;
 padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 650px){
  .welcome-logo {
    background-image: url(../images/mountain-sunset-3.jpg);
    height: 300px;
  }
  .column-2, .column-3, .column-4, .column-5, .column-6, .column-multi{
    width: 100%;
    padding:0;
  }
  .column-4 .container, .column-3 .container, .column-2 .container, .column-5 .container, .column-6 .container, .column-multi .container {
    padding:0;
  }

}

/* Image Overlays */
.container {
  position: relative;
}

.container p{
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.icon-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #DAE3E5;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .icon-overlay {
  opacity: 1;
}

.text {
  color: #FF7477;
  background-color: white;
  opacity: 0.8;
  border-radius: 5%;
  padding: 0 20px 0 20px;
  font-size: 18px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.mobile-desc{
  display: none;
}
@media only screen and (max-width: 650px){
  .text {
    font-size: 15px;
    display: block;
  }

  .overlay {
    display: none;
}

.icon-overlay {
  display: none;
}
  .mobile-desc{
    display: block;
    text-align: center;
  }

}

/* Portfolio
---------------------*/

.portfolio{
  background-image: url(../images/placer.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  padding: 0;
  height: 300px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.column-portfolio {
 float: left;
 align-items: center;
 width: 50%;
 padding: 10px 10px;
 margin: 0;
}

.portfolio-display{
  margin: 0 100px;
}

.headers{
  margin-top: 40px;
}

.anna{
  background-image: url(../images/ux/anna-background.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  margin: 0 0 180px 0;
  height: 580px;
  background-repeat: no-repeat;
  top: -30px;
}

.aaroe{
  background-image: url(../images/ux/aaroe-background.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  margin: 0 0 180px 0;
  height: 680px;
  background-repeat: no-repeat;
  top: -30px;
}

.connect{
  background-image: url(../images/ux/connect.png);
  background-size: 100%;
  z-index: 1;
  position: relative;
  margin: 0 0 160px 0;
  height: 580px;
  background-repeat: no-repeat;
  top: -30px;
}

@media screen and (max-width: 650px) {
  .portfolio-display{
    margin: 0;
  }

.column-portfolio{
  padding: 0;
}

.column-portfolio .container{
  padding: 0;
}
}
/* Fashion
---------------------*/
.fashion{
  background-image: url(../images/mountain-sunset-3.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  padding: 0;
  height: 40px;
  background-repeat: no-repeat;
}


  .fashionSlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.menu-dots{
  text-align: center;
  padding-bottom: 50px;
}

.active {
  background-color: #9FC2CC;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.7s;
  animation-name: fade;
  animation-duration: 1.7s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

  .shop {
  background-color: #DAE3E5;
  color: #FF7477;
  border: 2px solid #FF7477;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.resume{
  float: left;
  margin-left: 90px;
}
.shop:hover {background-color: #e7e7e7;}

/* Fashion - graduate catwalk
---------------------*/

.graduate{
  background-image: url(../images/catwalk/pink.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  margin: 0 0 180px 0;
  height: 780px;
  background-repeat: no-repeat;
  top: -30px;
}

.graduate-bio{
  margin: 0 150px 0 150px;
}

/* Fashion - editorial
---------------------*/

.editorial{
  background-image: url(../images/editorial/background-2.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  margin: 0;
  height: 680px;
  background-repeat: no-repeat;
  top: -30px;
}


/* Sketches
---------------------*/

.sketches{
  background-image: url(../images/sketch/sketch-2.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  margin: 0;
  height: 680px;
  background-repeat: no-repeat;
  top: -100px;
}

/* Osier
---------------------*/

.osier{
  background-image: url(../images/osier/sketch-4.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  margin: 0;
  height: 680px;
  background-repeat: no-repeat;
  top: -30px;
}


/* Creative
---------------------*/
.creative{
  background-image: url(../images/mountain-sunset-3.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  padding: 0;
  height: 400px;
  background-repeat: no-repeat;
}
/* Blog
---------------------*/
.blog{
  background-image: url(../images/mountain-sunset-3.jpg);
  background-size: 100%;
  z-index: 1;
  position: relative;
  padding: 0;
  height: 300px;
  background-repeat: no-repeat;
}


.blog-title{
  text-decoration: none;
  background-color: transparent;
  position: relative;
  transition: all 0.2s;
  color: white;
  padding: 10px;
  width: 20vw;
  z-index: 1;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
}

.blog-title:before, .about-title:before{
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #283044;
  opacity: 70%;
  z-index: -1;
  transition: all 0.4s;
  transform-origin: top;
  mix-blend-mode: multiply;
}

.blog-title:hover:before, .about-title:hover:before{
  top: 0px;
  left: 0px;
  z-index:-2;
  mix-blend-mode: multiply;
}

.blog-title:after, .about-title:after{
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 90%;
  z-index: -1;
  transition: all 0.2s;
  transform-origin: bottom;
  mix-blend-mode: multiply;

}

.blog-title:hover:after, .about-title:hover:after{
  top: 0px;
  left: 0px;
  z-index:-1;
  mix-blend-mode: multiply;
}

.blog-title:hover, .about-title:hover{
  color: #FF7477;
}

.blog-container {
padding: 50px 20px;
text-align: center;
}

.blog-column {
  max-width: 100%;
  text-align: center;
}


.blog-row {
  display: inline-flex;
  padding: 80px 20px;
  justify-content: center;
  border: solid 1px white;
  margin: 20px;
}


@media screen and (max-width: 650px) {
  .blog-row {
    min-width: 100%;
    margin: auto;
    padding: 30px 10px;
    border: none;
  }

  .blog-title{
    width: 60vw;
  }


}
/* About
---------------------*/
.about{
  text-align: center;
  padding: 160px 0 80px 0;
}

.about h3, .about a{
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  color: black;
}

.about h1{
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 300;
}

.about p{
  text-align: center;
  font-family: futura-pt-condensed, sans-serif;
  font-style: normal;
  color: black;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.about-me {
  max-width: 100%;
  width: 100%;
  padding: 60px 100px 20px 50px;
  display: inline-block;
}

.about-me h2{
  text-align: left;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

.about-me img{
  float:left;
  margin: 20px 40px 40px;
}

.connect-social{
  text-align: center;
}

.about img{
  width: 200px;
}
.about-column {
  float: left;
  width: 50%;
}

.about-column-skills {
  float: left;
  width: 33.3%;
}

.about-column h2 {
  text-align: left;
}

.container {
padding: 50px 0;
}

.about-column {
  padding: 0 20px;
}

.about-row {
  padding: 0 15vw;
}

.about-row:after {
  content: "";
  display: table;
  clear: both;
}

.about-links-row {
    display: inline-flex;
    padding: 10px 10px;
    justify-content: center;
  }

.cv{
  margin: 4% 5% 5% 10%;
}

.cv h1{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 50px;
  line-height: 70px;
}

.cv p{
  text-align: left;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.about-title {
  text-decoration: none;
  background-color: transparent;
  position: relative;
  transition: all 0.2s;
  color: white;
  padding: 10px;
  z-index: 1;
  width: 10vw;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (max-width: 900px) {

  .about-title{
    width: 15vw;
  }

  .about-row {
    padding: 0 10vw;
  }
}

@media screen and (max-width: 800px) {

  .about-title{
    width: 15vw;
  }

  .about-row {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 750px) {

  .about-title{
    width: 15vw;
  }

  .about-row {
    padding: 0 2vw;
  }
}

@media screen and (max-width: 650px) {

  .about-column{
    margin: 30px 0;
    width: 100%
  }

  .about-column-skills {
    float: left;
    width: 100%;
  }

  .about-column h2{
    text-align: center;
  }

  .right h2, .left h2, .middle h2{
    text-align: left;
  }
  .about-links-row {
    display: block;
    margin: 20px 0;
  }

  .about-title{
    width: 100%;
  }

  .blog-container{
    padding: 5vw 20vw;
  }

  .about-me img{
    margin: 0;
    height: 120vw;
    width: auto;
    padding-bottom: 50px;
  }

  .about-row {
    padding: 0 15vw;
  }
}

/* Contact
---------------------*/

  footer{
    padding:0 0 20px 0;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .contact{
    font-size: 25px;
    color: #283044;
    padding: 30px 0 0 0 ;
  }

  #contactInfo{
    justify-content: space-between;

  }

  /* social media*/
  .sm-logo {
      width: 50px;
      padding: 10px 10px 20px 10px;
      box-shadow: none;
  }
